
@{
    ViewBag.Title = "Index";
}

@model TokeninputMVC.ViewModels.FormWithTokenboxVM



<h2>Results</h2>
<p>you selected:</p>
@Model.tokenbox
<div class="row" style="margin-top:5%;margin-bottom:30%">
    <div class="col-md-4 col-md-offset-4">
        @Html.Partial("FormWithTokenboxPartial")
    </div>
</div>

